@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
    --background: 0 0% 100%;
    --foreground: 0 0% 14.5%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 14.5%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 14.5%;
    --primary: 248.1 55.75% 55.69%;
    --primary-foreground: 0 0% 98.5%;
    --success: 158.87 67.62% 41.18%;
    --success-foreground: 0 0% 98.5%;
    --info:196.94 98.41% 49.41%;
    --info-foreground: 0 0% 98.5%;
    --warning: 42.16 98.23% 55.69%;
    --warning-foreground: 0 0% 98.5%;
    --secondary: 28.37 100% 53.14%;
    --secondary-foreground: 0 0% 98.5%;
    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 55.6%;
    --dark: 265 19% 16%;
    --dark-foreground: 0 0% 92.2%;
    --accent: 0 0% 97%;
    --accent-foreground: 0 0% 20.5%;
    --danger: 9.52 100% 55.49%;
    --border: 0 0% 92.2%;
    --input: 0 0% 92.2%;
    --ring: 0 0% 70.8%;
    --chart-1: 41 79% 58%;
    --chart-2: 185 41% 51%;
    --chart-3: 227 26% 33%;
    --chart-4: 84 78% 74%;
    --chart-5: 70 75% 69%;
    --sidebar: 0 0% 98.5%;
    --sidebar-foreground: 0 0% 14.5%;
    --sidebar-primary: 0 0% 20.5%;
    --sidebar-primary-foreground: 0 0% 98.5%;
    --sidebar-accent: 0 0% 97%;
    --sidebar-accent-foreground: 0 0% 20.5%;
    --sidebar-border: 0 0% 92.2%;
    --sidebar-ring: 0 0% 70.8%;

    --toast-success-bg: hsl(var(--success) / 0.9); 
    --toast-success-text: hsl(var(--background));
    --toast-success-border: hsl(var(--success));

    --toast-error-bg: hsl(var(--danger) / 0.9); 
    --toast-error-text: hsl(var(--background));
    --toast-error-border: hsl(var(--danger));

    --toast-warning-bg: hsl(var(--warning) / 0.9); 
    --toast-warning-text: hsl(var(--background));
    --toast-warning-border: hsl(var(--warning));

    --toast-info-bg: hsl(var(--info) / 0.9); 
    --toast-info-text: hsl(var(--background));
    --toast-info-border: hsl(var(--info));
  }

  .dark {
    --background: 0 0% 14.5%;
    --foreground: 0 0% 98.5%;
    --card: 0 0% 20.5%;
    --card-foreground: 0 0% 98.5%;
    --popover: 0 0% 20.5%;
    --popover-foreground: 0 0% 98.5%;
    --primary: 0 0% 92.2%;
    --primary-foreground: 0 0% 20.5%;
    --secondary: 0 0% 26.9%;
    --secondary-foreground: 0 0% 98.5%;
    --muted: 0 0% 26.9%;
    --muted-foreground: 0 0% 70.8%;
    --accent: 0 0% 26.9%;
    --accent-foreground: 0 0% 98.5%;
    --destructive: 22 69% 50%;
    --border: 0 0% 10%;
    --input: 0 0% 15%;
    --ring: 0 0% 55.6%;
    --chart-1: 264 77% 45%;
    --chart-2: 162 61% 60%;
    --chart-3: 70 75% 69%;
    --chart-4: 304 76% 49%;
    --chart-5: 16 78% 55%;
    --sidebar: 0 0% 20.5%;
    --sidebar-foreground: 0 0% 98.5%;
    --sidebar-primary: 264 77% 45%;
    --sidebar-primary-foreground: 0 0% 98.5%;
    --sidebar-accent: 0 0% 26.9%;
    --sidebar-accent-foreground: 0 0% 98.5%;
    --sidebar-border: 0 0% 10%;
    --sidebar-ring: 0 0% 55.6%;
  }
}

[data-sonner-toast][data-type="success"] {
  --normal-bg: var(--toast-success-bg);
  --normal-text: var(--toast-success-text);
  --normal-border: var(--toast-success-border);
}

[data-sonner-toast][data-type="error"] {
  --normal-bg: var(--toast-error-bg);
  --normal-text: var(--toast-error-text);
  --normal-border: var(--toast-error-border);
}

[data-sonner-toast][data-type="warning"] {
  --normal-bg: var(--toast-warning-bg);
  --normal-text: var(--toast-warning-text);
  --normal-border: var(--toast-warning-border);
}

[data-sonner-toast][data-type="info"] {
  --normal-bg: var(--toast-info-bg);
  --normal-text: var(--toast-info-text);
  --normal-border: var(--toast-info-border);
}

/* Target the description directly */
[data-sonner-toast] [data-description],
[data-sonner-toast] [data-content] > div:last-child {
  color: rgba(255, 255, 255, 0.9) !important;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}